body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error {
  color: #E74C3C;
}

.find-recipes {
  padding: 8px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-title {
  padding-left: 15px;
}

.flex-remove {
  margin-left: auto;
}

.home {
  margin-top: -20px;
}

.ingredient-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.kitchen {
  padding: 0 30px 0 30px;
  height: 100%;
  background-color: #ECF0F1;
  border-right: 1px solid #BDBDBD;
}

.my-recipe {
  background-color: #2C3E50;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.my-recipe-container {
  padding-top: 20px;
  padding-bottom: 50px;
}

.my-recipe-image {
  width: 80px;
}

.navbar {
  border-radius: 0;
}

.ingredient {
  padding: 8px 10px;
  color: white;
  background-color: #94A4A5;
  display: inline-block;
  margin: 5px;
  border-radius: 15px;
}

.ingredient-match {
  color: white;
  background-color: #18BC9C;
}

.inline {
  display: inline;
}

.recipes {
  padding-left: 40px;
  padding-right: 40px;
}

.recipe-image {
  width: 200px;
}

.save-recipe {
  margin-top: 15px;
}

.show-recipe {
  width: 240px;
  display: inline-block;
  margin: 20px;
}

.select:hover {
  cursor: pointer;
}
