body {
  font: 16px 'Raleway', sans-serif;;
}

a {
  color: #00B7FF;
}

.about {
  margin-top: 50px;
}

.about-col {
  margin-bottom: 30px;
}

.about-header {
  margin-top: -22px;
  height: 25vh;
  background-image: url('/images/about-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.about-icon {
  height: 150px;
}

.error {
  color: #E74C3C;
  margin: 30px 50px 0 50px;
}

.fa-exclamation-circle:hover {
  color: #2C3E50;
}

.find-recipes {
  padding: 8px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-title {
  padding-left: 15px;
}

.flex-remove {
  margin-left: auto;
}

.fridge {
  height: 20px;
  display: inline;
}

.home {
  margin-top: -20px;
}

.ingredient-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.kitchen {
  padding: 40px 30px 0 30px;
  height: 88vh;
  overflow: scroll;
  background-color: #ECF0F1;
  border-right: 1px solid #C0C0C0;
}

.modal {
  display: block;
}

.my-recipe {
  background-color: #383838;
  color: #EDEDED;
  padding: 10px;
  margin-bottom: 10px;
}

.my-recipe-container {
  padding-top: 20px;
  padding-bottom: 50px;
}

.my-recipe-image {
  width: 80px;
}

.navbar {
  border-radius: 0;
  height: 100%;
  background-color: #383838;
  padding: 20px 0;
}

.navbar .navbar-nav li a {
  font-size: 16px;
}

.navbar .navbar-brand {
  display: inline;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:active, .navbar .navbar-brand:focus {
  color: #D1D1D1;
}

.page-header {
  margin: -10px -15px;
  padding: 10px 0 20px 30px;
  background-color: #ECF0F1;
  border-bottom: 1px solid #C0C0C0;
}

.ingredient {
  padding: 8px 10px;
  color: #EDEDED;
  background-color: #95675F;
  display: inline-block;
  margin: 5px;
  border-radius: 15px;
}

.ingredient-match {
  color: #43AC6A;
}

.inline {
  display: inline;
}

.recipes {
  height: 88vh;
  overflow: scroll;
  background-color: #948980;
}

.recipes-background {
  background-image: url('/images/recipe-background.jpg');
  background-size: cover;
}

.recipe-container {
  padding: 30px 30px 0 30px;
}

.recipe-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: center;
}

.recipe-image img {
  width: 100%;
}

.save-recipe {
  margin-top: 15px;
  float: center;
}

.show-recipe {
  width: 240px;
  display: inline-block;
  margin: 20px;
}

.select:hover {
  cursor: pointer;
  opacity: 0.8;
}

.title-link:hover {
  cursor: pointer;
  color: #95675F;
}

h3 small {
  color: #787878;
}

@media (max-width: 480px){
  .navbar .navbar-brand {
    font-size: 28px;
  }
}
