<div class="about-header">
</div>
<div class="container about">
  <div class="row text-center">
    <div class="col-md-4 about-col">
      <img class="about-icon" src="/images/fridge.svg">
      <h3>Create a kitchen by adding ingredients you already have at home. Add your own ingredients or select from suggested ingredients.</h3>
    </div>
    <div class="col-md-4 about-col">
      <img class="about-icon" src="/images/search.svg">
      <h3>Search through more than 330,000 recipes to find recipes that include the ingredients in your kitchen.</h3>
    </div>
    <div class="col-md-4 about-col">
      <img class="about-icon" src="/images/account.svg">
      <h3>Create an account to save your kitchen ingredients and recipes. Link you facebook or google account to your profile.</h3>
    </div>
  </div>
</div>