<div class="row home">
  <div class="col-md-4 kitchen">
    <h4>Suggestions</h4>
    <div class="ingredient-container">
      <div class="ingredient select" ng-repeat="item in suggestions | limitTo: 15 " ng-click="addSuggestion()">
        {{item}}
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </div>
    </div>
    <form ng-submit="addIngredient()">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="add ingredient" ng-model="ingredient">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Add</button>
        </span>
      </div>
    </form>
    <h3>My Kitchen <small ng-hide="kitchen.length == 0">({{kitchen.length}})</small></h3>
    <div class="ingredient-container">
      <div class="ingredient select" ng-repeat="item in kitchen | orderBy:'toString()'" ng-click="removeIngredient()">
        {{item}}
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </div>
    </div>
    <div ng-show="user" ng-hide="myRecipes.length == 0">
      <h3>My Recipes <small ng-hide="myRecipes.length == 0">({{myRecipes.length}})</small></h3>
      <div class="my-recipe-container">
        <div class="my-recipe" ng-repeat="recipe in myRecipes | orderBy:'recipe.title'">
          <div class="flex-container">
            <div class="flex-image">
              <img class="my-recipe-image select" src="{{recipe.image}}" ng-click="goToRecipe()">
            </div>
            <div class="flex-title">
              <h4 class="select" ng-click="goToRecipe()">{{recipe.title}}</h4>
            </div>
            <div class="col-md-2 text-center flex-remove">
              <span class="glyphicon glyphicon-remove select" aria-hidden="true" ng-click="removeRecipe()"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 recipes">
    <div class="page-header">
      <h1>Recipes <small ng-show="recipeButton">
        <ng-pluralize count="numberOfRecipes"
                 when="{'one': 'You can make 1 recipe',
                        'other': 'You can make {} recipes'}">
        </ng-pluralize>
      </small></h1>
      <button type="button" class="btn btn-primary find-recipes" ng-click="findRecipes()">Find Recipes</button>
    </div>
    <div ng-show="error" class="text-center error">
      <h2>You haven't added any food to your kitchen yet!</h2>
    </div>
    <div class="recipe-container" cg-busy="loading">
      <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="recipe in recipes">
          <div class="thumbnail" ng-class="{'ingredient-match': recipe.missedIngredientCount == 0}">
            <div class="recipe-image">
              <img src="{{recipe.image}}" ng-click="goToRecipe()">
            </div>
            <div class="caption">
              <h3 ng-click="goToRecipe()" class="title-link">{{recipe.title}}</h3>
              <div class="inline" ng-show="recipe.missedIngredientCount == 0">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              </div> 
              {{recipe.usedIngredientCount}} out of {{recipe.usedIngredientCount + recipe.missedIngredientCount}} ingredients <span class='btn' ng-show="recipe.missedIngredientCount > 0" uib-popover-template="popoverTemplate" popover-title="Missing Ingredients" popover-placement="bottom-right" ng-click="missingIngredients()"><span class="fa fa-exclamation-circle fa-lg"></span></span>
              <button class="save-recipe btn btn-default" ng-click="saveRecipe()">Save Recipe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>